
# .env file to set up your php redirect

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# PHP Container
#
CONTAINER_WP_NAME=php-container-name

# Path to store your php redirect file
PHP_HOME=./../data

# Your domain (or domains)
DOMAINS=your_domain.com,www.your_domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@gmail.com

#
# Backup Settings
#
# This option should be used when backing up using the script in the repo:
# https://github.com/evertramos/docker-general-backup
BACKUP_PATH_NAME=./../backup

#
# Crontab Rules
#
# Please only enable that if you know what you are doing, please refer to these samples:
# 
# https://crontab.guru/examples.html
#
# And test if your setting is working
#
# Here is a basic rule for backup everyday at 04 am from monday to friday as of:
# 
# https://crontab.guru/#00_04_*_*_1-5
#
BACKUP_CRONTAB_RULE="00 04 * * 1-5"
